---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
>
	<p>
	JS/TypeScript enthusiast, full-stack developer. Into, system architecture, blockchain, cybersecurity, design.
I love cooking, I love art. I probably spend more time behind my computer programming than I should. My music taste is diverse but I mostly listen to Electronic music (DnB, Dubstep). I am also a music producer
	</p>
</Layout>
