---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <div>
      <span id="name" style="color:#1e3a8a" class="cursor-pointer"
        >Andrew Makenzi</span
      >
    </div>

    <div class="internal-links">
      <div>
        <HeaderLink href="/"
          ><svg
            viewBox="0 0 24 24"
            fill="none"
            height="35px"
            width="35px"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <path
                d="M22 22L2 22"
                stroke="#1C274C"
                stroke-width="1.5"
                stroke-linecap="round"></path>
              <path
                d="M2 11L6.06296 7.74968M22 11L13.8741 4.49931C12.7784 3.62279 11.2216 3.62279 10.1259 4.49931L9.34398 5.12486"
                stroke="#1C274C"
                stroke-width="1.5"
                stroke-linecap="round"></path>
              <path
                d="M15.5 5.5V3.5C15.5 3.22386 15.7239 3 16 3H18.5C18.7761 3 19 3.22386 19 3.5V8.5"
                stroke="#1C274C"
                stroke-width="1.5"
                stroke-linecap="round"></path>
              <path
                d="M4 22V9.5"
                stroke="#1C274C"
                stroke-width="1.5"
                stroke-linecap="round"></path>
              <path
                d="M20 9.5V13.5M20 22V17.5"
                stroke="#1C274C"
                stroke-width="1.5"
                stroke-linecap="round"></path>
              <path
                d="M15 22V17C15 15.5858 15 14.8787 14.5607 14.4393C14.1213 14 13.4142 14 12 14C10.5858 14 9.87868 14 9.43934 14.4393M9 22V17"
                stroke="#1C274C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M14 9.5C14 10.6046 13.1046 11.5 12 11.5C10.8954 11.5 10 10.6046 10 9.5C10 8.39543 10.8954 7.5 12 7.5C13.1046 7.5 14 8.39543 14 9.5Z"
                stroke="#1C274C"
                stroke-width="1.5"></path>
            </g></svg
          ></HeaderLink
        >
        <HeaderLink href="/blog" />
      </div>
    </div>
    <div>
      <div class="social-links">
        <a href="https://twitter.com/amackzie" target="_blank">
          <span class="sr-only">Follow Me</span>
          <svg
            height="35px"
            width="35px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.816 511.816"
            xml:space="preserve"
            fill="#000000"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <g transform="translate(1)">
                <g>
                  <path
                    style="fill:#FFE100;"
                    d="M509.11,110.859l-11.947,4.267c-8.533,19.627-32.427,38.4-54.613,46.933v8.533 c0,140.8-91.307,258.56-213.333,285.013c-8.533,1.707-4.267,3.413,0,4.267c133.973-14.507,238.933-138.24,238.933-289.28v-8.533 c23.04-8.533,35.84-29.013,42.667-49.493C510.816,111.712,509.963,110.859,509.11,110.859"
                  ></path>
                  <path
                    style="fill:#FFE100;"
                    d="M331.616,59.659c-51.2,0.853-85.333,49.493-85.333,105.813v13.653 c-74.24-13.653-151.04-46.933-179.2-76.8c-32.427,63.147-13.653,90.453,25.6,119.467c-26.453,0-31.573,6.827-48.64-7.68 c-1.707-0.853-3.413,0-2.56,1.707c14.507,52.907,46.933,80.213,85.333,92.16c-34.987,0-41.813,16.213-65.707,0 c-1.707-0.853-3.413,0.853-2.56,1.707c18.773,52.053,39.253,57.173,93.867,57.173c-27.307,20.48-46.933,40.96-116.053,42.667 c-2.56,0-4.267,3.413-1.707,5.12c25.6,21.333,88.747,37.547,177.493,37.547c17.92,0-16.213-1.707,0-5.12 c122.027-26.453,213.333-144.213,213.333-285.013v-8.533c23.04-8.533,48.64-29.013,55.467-49.493c0-0.853-0.853-2.56-1.707-1.707 l-36.693,17.067c-0.853,0-1.707-0.853-0.853-1.707c51.2-42.667,21.333-11.093,36.693-56.32c0-0.853-0.853-1.707-1.707-1.707 c-23.04,9.387-42.667,18.773-59.733,23.893c-2.56,0.853-5.973,0.853-8.533-0.853C397.323,76.725,353.803,59.659,331.616,59.659"
                  ></path>
                </g>
                <path
                  style="fill:#FFFFFF;"
                  d="M92.683,221.792c-39.253-29.013-58.88-56.32-25.6-119.467c8.533,8.533,20.48,17.067,35.84,26.453 c-22.187-14.507-41.813-30.72-61.44-52.053C9.056,139.872,44.896,192.779,84.15,221.792"
                ></path>
                <path
                  style="fill:#FFA800;"
                  d="M492.043,102.325l-11.947,4.267c-8.533,19.627-32.427,38.4-54.613,46.933v8.533 c0,140.8-91.307,258.56-213.333,285.013c-8.533,1.707-4.267,3.413,0,4.267c133.973-14.507,238.933-138.24,238.933-289.28v-8.533 c23.04-8.533,35.84-29.013,42.667-49.493C493.75,103.179,492.896,102.325,492.043,102.325"
                ></path>
                <path
                  style="fill:#FFFFFF;"
                  d="M33.803,414.645c-1.707-1.707-0.853-5.12,2.56-5.12c69.12-1.707,88.747-22.187,116.053-42.667 c-54.613,0-75.947-5.973-93.867-57.173c-0.853-1.707,0.853-2.56,2.56-1.707c24.747,15.36,31.573,0,65.707,0 c-38.4-11.093-70.827-39.253-85.333-91.307c-8.533-2.56-15.36-6.827-22.187-12.8c-1.707-0.853-3.413,0-2.56,1.707 c14.507,52.907,64,91.307,102.4,102.4c-34.987,0-58.027,5.12-82.773-10.24c-2.56-1.707-4.267-0.853-3.413,0.853 c18.773,52.053,56.32,68.267,110.933,68.267c-27.307,20.48-64,40.96-133.12,42.667c-2.56,0-4.267,3.413-1.707,5.12 c25.6,21.333,88.747,37.547,177.493,37.547c2.56,0,5.12,0,7.68,0C114.87,449.632,58.55,434.272,33.803,414.645"
                ></path>
                <path
                  d="M186.55,460.725c-84.48,0-152.747-14.507-183.467-39.253c-3.413-3.413-5.12-7.68-3.413-12.8 c1.707-4.267,5.973-7.68,11.093-7.68c50.347-0.853,82.773-12.8,107.52-27.307c-47.787-5.973-77.653-29.013-93.013-72.533 c-1.707-4.267,0-8.533,3.413-11.093s8.533-2.56,11.947-0.853c12.8,8.533,25.6,10.24,40.96,10.24 c-32.427-19.627-62.293-52.053-74.24-92.16c-0.853-4.267,0.853-8.533,4.267-11.093c4.267-2.56,8.533-1.707,11.947,0.853 c9.387,7.68,19.627,12.8,34.987,15.36c-33.28-34.133-53.76-84.48-24.747-139.947c1.707-1.707,3.413-3.413,6.827-4.267 c2.56,0,5.12,0.853,7.68,2.56c52.907,55.467,101.547,81.067,190.293,98.133v-3.413C237.75,103.179,286.39,51.979,346.976,51.125 c23.893,0,57.173,17.067,70.827,24.747c0.853,0,1.707,0.853,1.707,0c17.067-5.12,37.547-13.653,61.44-23.893 c3.413-1.707,7.68-0.853,10.24,1.707c2.56,2.56,3.413,5.973,1.707,9.387c-4.267,11.947-11.093,24.747-21.333,36.693l17.067-5.973 c3.413-0.853,7.68,0,10.24,2.56c2.56,2.56,3.413,6.827,2.56,10.24c-7.68,24.747-23.04,42.667-41.813,52.053v3.413 c0,23.893-2.56,46.933-7.68,69.973c-0.853,4.267-5.973,7.68-10.24,6.827s-7.68-5.973-6.827-10.24 c5.12-21.333,6.827-44.373,6.827-66.56v-8.533c0-3.413,2.56-6.827,5.12-7.68c16.213-5.973,25.6-18.773,31.573-29.867l-33.28,11.093 c-4.267,1.707-9.387,0-11.093-4.267c-0.853-4.267,0-9.387,3.413-11.947c13.653-11.093,23.893-23.04,31.573-35.84 c-17.067,6.827-32.427,12.8-45.227,17.067c-5.12,1.707-10.24,0.853-15.36-1.707c-9.387-5.12-40.96-22.187-60.587-22.187 c0,0,0,0-0.853,0c-51.2,0.853-92.16,44.373-92.16,97.28v13.653c0,2.56-0.853,5.12-3.413,6.827 c-1.707,1.707-4.267,1.707-6.827,1.707c-93.867-17.067-145.92-41.813-200.533-95.573c-25.6,64.853,27.307,110.08,45.227,122.88 c3.413,2.56,4.267,5.973,3.413,9.387c-0.853,3.413-5.12,5.973-8.533,5.973c-17.067,0-35.84-1.707-52.907-9.387 c18.773,39.253,57.173,68.267,89.6,77.653c4.267,0.853,6.827,5.12,5.973,9.387c-0.853,4.267-4.267,7.68-8.533,7.68 c-6.827,0-13.653,0-20.48,0.853c-17.92,0.853-34.133,0.853-49.493-4.267c17.067,32.427,46.933,46.08,95.573,46.08 c3.413,0,6.827,2.56,8.533,5.973c0.853,3.413,0,7.68-3.413,9.387c-27.307,20.48-61.44,39.253-120.32,43.52 c28.16,13.653,80.213,26.453,157.867,26.453c98.133,0,186.027-60.587,229.547-157.013c1.707-4.267,6.827-5.973,11.093-4.267 c4.267,1.707,5.973,6.827,4.267,11.093C385.376,396.725,291.51,460.725,186.55,460.725z M14.176,407.819L14.176,407.819 L14.176,407.819z M31.243,303.712L31.243,303.712L31.243,303.712z M13.323,209.845L13.323,209.845L13.323,209.845z M24.416,202.165 L24.416,202.165L24.416,202.165z M494.603,110.859L494.603,110.859L494.603,110.859z M486.923,67.339L486.923,67.339 L486.923,67.339z"
                ></path>
                <path
                  d="M442.55,264.459c0-5.12-3.413-8.533-8.533-8.533c-5.12,0-8.533,3.413-8.533,8.533s3.413,8.533,8.533,8.533 C439.136,272.992,442.55,269.579,442.55,264.459"
                ></path>
              </g>
            </g></svg
          >
        </a>
        <a href="https://github.com/zessu" target="_blank">
          <span class="sr-only">Go to my github</span>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            height="35px"
            width="35px"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <path
                d="M4.0744 2.9938C4.13263 1.96371 4.37869 1.51577 5.08432 1.15606C5.84357 0.768899 7.04106 0.949072 8.45014 1.66261C9.05706 1.97009 9.11886 1.97635 10.1825 1.83998C11.5963 1.65865 13.4164 1.65929 14.7213 1.84164C15.7081 1.97954 15.7729 1.97265 16.3813 1.66453C18.3814 0.651679 19.9605 0.71795 20.5323 1.8387C20.8177 2.39812 20.8707 3.84971 20.6494 5.04695C20.5267 5.71069 20.5397 5.79356 20.8353 6.22912C22.915 9.29385 21.4165 14.2616 17.8528 16.1155C17.5801 16.2574 17.3503 16.3452 17.163 16.4167C16.5879 16.6363 16.4133 16.703 16.6247 17.7138C16.7265 18.2 16.8491 19.4088 16.8973 20.4002C16.9844 22.1922 16.9831 22.2047 16.6688 22.5703C16.241 23.0676 15.6244 23.076 15.2066 22.5902C14.9341 22.2734 14.9075 22.1238 14.9075 20.9015C14.9075 19.0952 14.7095 17.8946 14.2417 16.8658C13.6854 15.6415 14.0978 15.185 15.37 14.9114C17.1383 14.531 18.5194 13.4397 19.2892 11.8146C20.0211 10.2698 20.1314 8.13501 18.8082 6.83668C18.4319 6.3895 18.4057 5.98446 18.6744 4.76309C18.7748 4.3066 18.859 3.71768 18.8615 3.45425C18.8653 3.03823 18.8274 2.97541 18.5719 2.97541C18.4102 2.97541 17.7924 3.21062 17.1992 3.49805L16.2524 3.95695C16.1663 3.99866 16.07 4.0147 15.975 4.0038C13.5675 3.72746 11.2799 3.72319 8.86062 4.00488C8.76526 4.01598 8.66853 3.99994 8.58215 3.95802L7.63585 3.49882C7.04259 3.21087 6.42482 2.97541 6.26317 2.97541C5.88941 2.97541 5.88379 3.25135 6.22447 4.89078C6.43258 5.89203 6.57262 6.11513 5.97101 6.91572C5.06925 8.11576 4.844 9.60592 5.32757 11.1716C5.93704 13.1446 7.4295 14.4775 9.52773 14.9222C10.7926 15.1903 11.1232 15.5401 10.6402 16.9905C10.26 18.1319 10.0196 18.4261 9.46707 18.4261C8.72365 18.4261 8.25796 17.7821 8.51424 17.1082C8.62712 16.8112 8.59354 16.7795 7.89711 16.5255C5.77117 15.7504 4.14514 14.0131 3.40172 11.7223C2.82711 9.95184 3.07994 7.64739 4.00175 6.25453C4.31561 5.78028 4.32047 5.74006 4.174 4.83217C4.09113 4.31822 4.04631 3.49103 4.0744 2.9938Z"
                fill="#0F0F0F"></path>
              <path
                d="M3.33203 15.9454C3.02568 15.4859 2.40481 15.3617 1.94528 15.6681C1.48576 15.9744 1.36158 16.5953 1.66793 17.0548C1.8941 17.3941 2.16467 17.6728 2.39444 17.9025C2.4368 17.9449 2.47796 17.9858 2.51815 18.0257C2.71062 18.2169 2.88056 18.3857 3.05124 18.5861C3.42875 19.0292 3.80536 19.626 4.0194 20.6962C4.11474 21.1729 4.45739 21.4297 4.64725 21.5419C4.85315 21.6635 5.07812 21.7352 5.26325 21.7819C5.64196 21.8774 6.10169 21.927 6.53799 21.9559C7.01695 21.9877 7.53592 21.998 7.99999 22.0008C8.00033 22.5527 8.44791 23.0001 8.99998 23.0001C9.55227 23.0001 9.99998 22.5524 9.99998 22.0001V21.0001C9.99998 20.4478 9.55227 20.0001 8.99998 20.0001C8.90571 20.0001 8.80372 20.0004 8.69569 20.0008C8.10883 20.0026 7.34388 20.0049 6.67018 19.9603C6.34531 19.9388 6.07825 19.9083 5.88241 19.871C5.58083 18.6871 5.09362 17.8994 4.57373 17.2891C4.34391 17.0194 4.10593 16.7834 3.91236 16.5914C3.87612 16.5555 3.84144 16.5211 3.80865 16.4883C3.5853 16.265 3.4392 16.1062 3.33203 15.9454Z"
                fill="#0F0F0F"></path>
            </g></svg
          >
        </a>
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #d2d2d2;
  }
  nav a {
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    font-weight: bolder;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }

  div.social-links {
    gap: 10px;
  }

  .internal-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
  }

  .internal-links a {
    margin-left: 20px;
  }

  span#name {
    font-family: "Twinkle Star", cursive;
    font-weight: bold;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
